body{
  background: #C7A4A5;
}

div{
  width: 40%;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  background-color: #A86769;
}

form{
  text-align: center;
}

label{
  font-size: 20px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  color: #fff;
}

input{
  margin-bottom: 20px;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
}

input:focus{
  border: 1px solid #1668C4;
}

input[type="submit"] {
  margin-bottom: 0;
  background: #1668C4;
  color: #fff;
  border:none;
}

input[type="submit"]:hover {
  background: #4A88F4;
  cursor:pointer;
}


h2{
  color: #FFA07A;
  text-align: center;
  margin-bottom: 20px;
}
