body{
  background: #309DE5;
}

div{
  width: 40%;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  background-color: #2371A5;
}

form{
  text-align: center;
}

label{
  font-size: 20px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

input{
  margin-bottom: 20px;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
}

input:focus{
  border: 1px solid #1668C4;
}

input[type="submit"] {
  margin-bottom: 0;
  background: #121D81;
  color: #fff;
  border:none;
}

input[type="submit"]:hover {
  background: #1725A6;
  cursor:pointer;
}


h2{
  background-color: 000;
  text-align: center;
  margin-bottom: 20px;
}
