div h2{
  color:#000;
  background:;
  text-align:center;
  width:37.5%;
}
body{
  background-color: #ccc;
}

.menu {
  width: 38.8%;
  background: #000;
  list-style:none; /*eliminar iconos de listas*/
  margin:0px; /*eliminar margenes*/
  padding:0px; /*eliminar paddings*/
}
a{
  text-decoration: none;
}

.menu li{
  display: inline-block;
}

.menu li a{
  padding: 10px 20px; /*importante que vaya de este lado*/
  display:inline-block;
  color:#fff;

}

.menu li a:hover{
  background: #5F5C5C;
  color: #fff;
}
